/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('descarga\ 6.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-table-container {
    background-color: rgba(55, 106, 113, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
}

.form-container {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #faf3e0; /* Color de fondo de la tabla */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #e1e1e1;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ffd5cd; /* Color de fondo de los encabezados de la tabla */
}

td {
    background-color: #ffffff; /* Color de fondo de las celdas de la tabla */
}

tr:nth-child(even) td {
    background-color: #ffe5d9; /* Color de fondo de las filas pares */
}

tr:hover td {
    background-color: #ffd1ba; /* Color de fondo de las filas al pasar el mouse */
}
